<%include header.ejs%>
<div id="wrapper">
    <div id="page-wrapper" class="gray-bg">
        <div ng-controller="addPaperCtrl as addPaperCtrl" class="loginscreen   animated fadeInDown">
            <div class="row">
                <div class=" col-xs-12 background-lightgray  font-bold">
                    <h1>Create Topic/paper</h1>
                    <p>You can create Topic or Paper in particular app</p>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-6 col-xs-12 margin-top-50">
                    <form role="form" ng-submit="addPaperCtrl.addPaper()">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4 col-xs-6 text-right">
                                    <label for="app">Select a app name</label>
                                </div>
                                <div class="col-md-6 col-xs-6">
                                    <select ng-options="allAppData.appName for allAppData in addPaperCtrl.allAppData" id="app" ng-model="addPaperCtrl.appData"
                                            ng-change="addPaperCtrl.changeValue()" ><option value="">-- choose one --</option></select>
                                </div>
                            </div>

                        </div>
                        <div ng-if="addPaperCtrl.appData.appName!=null">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-4 col-xs-6 text-right">
                                        <label>Add paper</label>
                                    </div>
                                    <div class="col-md-6 col-xs-6">
                                        <input type="text" class="form-control" placeholder="add paper category"
                                               ng-required="true" ng-model="addPaperCtrl.paperDetails.name">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                              <div class="row">
                                  <div class="col-md-4 col-xs-6 text-right">
                                      <label>paper type</label>
                                  </div>
                                  <div class="col-md-6 col-xs-6">
                                      <input type="checkbox"  ng-model="addPaperCtrl.categoryType">Full paper
                                  </div>
                              </div>
                             </div>

                            <div class="row">
                                <div class="col-md-4 col-xs-6 text-right">
                                    <label></label>
                                </div>
                                <div class="col-md-6 col-xs-6">
                                    <button type="submit" class="btn btn-primary block full-width m-b">
                                        Add Paper
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                    <div class="col-md-6 col-xs-12 text-center margin-top-50 update-category" ng-if="addPaperCtrl.appData.appName!=null">
                        <div class="row">
                            <div class="col-lg-12">
                                <label>List of existing Papers/Topics</label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <label>LIst of papers</label>
                            <div class="list-group-item padding-0 list-group-item-infoNew font-bold text-left" ng-repeat="paper in addPaperCtrl.papers"  ng-if="paper.type=='paper'">
                               <p class="text-center">{{paper.name}}</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <label>LIst of topic</label>
                            <div class="list-group-item padding-0 list-group-item-infoNew font-bold text-left" ng-repeat="paper in addPaperCtrl.papers" ng-if="paper.type=='topic'">
                                <p class="text-center">{{paper.name}}</p>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="row" ng-if="addPaperCtrl.err">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-6">
                        <div class="font-bold font-15 bg-danger">
                            {{addPaperCtrl.err}}
                        </div>
                    </div>
                </div>
            </div>

        </div>
   </div>
</div>
