
<nav class="navbar-default navbar-static-side" role="navigation" ng-controller="HeaderCtrl as HeaderCtrl">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li ng-class={'active':enter}>
                <a  ng-click="HeaderCtrl.action(0)" href="/app"><i class="fa fa-th-large"></i> <span class="nav-label">Add AppName</span> </a>
            </li>
            <li>
                <a ng-click="HeaderCtrl.action(1)" href="/addpaper"><i class="fa fa-th-large"></i> <span class="nav-label">Add Papers Category</span> </a>
            </li>
            <li>
                <a ng-click="HeaderCtrl.action(2)"  href="/questions"><i class="fa fa-th-large"></i> <span class="nav-label">Add Questions</span> </a>
            </li>
            <li>
                <a ng-click="HeaderCtrl.action(3)"  href="/reviewAllQuestions"><i class="fa fa-th-large"></i> <span class="nav-label">Review All Questions</span> </a>
            </li>


        </ul>
    </div>
</nav>

