<%include header.ejs%>
<div id="wrapper">
    <div id="page-wrapper" class="gray-bg">
        <div ng-controller="questionsCtrl as questionsCtrl" class="loginscreen   animated fadeInDown"
             xmlns="http://www.w3.org/1999/html">
            <div class="row">
                <div class="col-xs-12 background-lightgray  font-bold">
                    <h1>Add Questions</h1>
                    <p>You can add questions in particular Topic or Paper</p>
                </div>
            </div>
                <div class="row">
                        <div class="col-md-6 col-xs-12 margin-top-50">
                            <form role="form" ng-submit="questionsCtrl.addQuestion()" class="margin-top-10">
                                <div class="form-group  text-left">
                                    <div class="row">
                                        <div class="col-md-4 col-xs-6 text-right">
                                            <label>Select a app name</label>
                                        </div>
                                        <div class="col-md-6 col-xs-6">
                                            <select ng-options="allAppData.appName for allAppData in questionsCtrl.allAppData" ng-model="questionsCtrl.appData"
                                                    ng-change="questionsCtrl.changeValue()" ><option value="">-- choose one --</option></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group  text-left" ng-if="questionsCtrl.appData!=null">
                                    <div class="row">
                                        <div class="col-md-4 col-xs-6 text-right">
                                            <label>Paper</label>
                                        </div>
                                        <div class="col-md-6 col-xs-6">
                                            <select ng-options="papers.name for papers in questionsCtrl.papers" ng-model="questionsCtrl.paperName"
                                                    ng-change="questionsCtrl.changePaper()" ><option value="">-- choose one --</option></select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 col-xs-6 text-right">
                                            select category: <br>
                                        </div>
                                        <div class="col-md-6 col-xs-6">
                                            <div ng-repeat="topic in  questionsCtrl.topics">
                                                <input type="checkbox"  ng-model="topic.checked"
                                                       ng-change="questionsCtrl.addMultipleCat(topic.checked,$index,topic)">{{topic.name}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="(questionsCtrl.paperName||questionsCtrl.questions.category.length!=0)&&(questionsCtrl.appData!=null)">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-4 col-xs-6 text-right">
                                                Question
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                            <textarea class="form-control" placeholder="question"
                                                      ng-required="true" ng-model="questionsCtrl.questions.question"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-4 col-xs-6 text-right">
                                                Code
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                            <textarea class="form-control" placeholder="code"
                                                      ng-required="true" ng-model="questionsCtrl.questions.code"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-4 col-xs-6 text-right">
                                                options length
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                                2 <input type="radio" name="opLength" ng-model="questionsCtrl.opLength" ng-change="questionsCtrl.changeOptions()" ng-value="2" checked>
                                                3 <input type="radio" name="opLength" ng-model="questionsCtrl.opLength" ng-change="questionsCtrl.changeOptions()" ng-value="3">
                                                4 <input type="radio" name="opLength" ng-model="questionsCtrl.opLength" ng-change="questionsCtrl.changeOptions()" ng-value="4">
                                                5 <input type="radio" name="opLength" ng-model="questionsCtrl.opLength" ng-change="questionsCtrl.changeOptions()" ng-value="5">
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-if="questionsCtrl.opLength>1">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-4 col-xs-6 text-right">
                                                    Option 1.
                                                </div>
                                                <div class="col-md-6 col-xs-6">
                                            <textarea class="form-control" placeholder="option first"
                                                      ng-required="true" ng-model="questionsCtrl.questions.options[0].option"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-if="questionsCtrl.opLength>=2">
                                            <div class="row">
                                                <div class="col-md-4 col-xs-6 text-right">
                                                    Option 2.
                                                </div>
                                                <div class="col-md-6 col-xs-6">
                                            <textarea class="form-control" placeholder="option second"
                                                      ng-required="true" ng-model="questionsCtrl.questions.options[1].option"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row" ng-if="questionsCtrl.opLength>=3">
                                                <div class="col-md-4 col-xs-6 text-right">
                                                    Option 3.
                                                </div>
                                                <div class="col-md-6 col-xs-6">
                                            <textarea class="form-control" placeholder="option third"
                                                      ng-required="true" ng-model="questionsCtrl.questions.options[2].option"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row" ng-if="questionsCtrl.opLength>=4">
                                                <div class="col-md-4 col-xs-6 text-right">
                                                    Option 4.
                                                </div>
                                                <div class="col-md-6 col-xs-6">
                                            <textarea class="form-control" placeholder="option fourth"
                                                      ng-required="true" ng-model="questionsCtrl.questions.options[3].option"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-if="questionsCtrl.opLength==5">
                                            <div class="row">
                                                <div class="col-md-4 col-xs-6 text-right">
                                                    Option 5.
                                                </div>
                                                <div class="col-md-6 col-xs-6">
                                            <textarea class="form-control" placeholder="option fifth"
                                                      ng-required="true" ng-model="questionsCtrl.questions.options[4].option"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group" ng-if="questionsCtrl.optionSize">
                                        <div class="row">
                                            <div class="col-md-4 col-xs-6 text-right">
                                                Select a choice<br>
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                                <input type="radio" name="choice" ng-model="questionsCtrl.choice.checked" ng-value="true" checked> Single choice
                                                <input type="radio" name="choice" ng-model="questionsCtrl.choice.checked" ng-value="false"> Multiple choice
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-if="questionsCtrl.choice.checked==true">
                                        <div class="row">
                                            <div class="col-md-4 col-xs-6 text-right">
                                                Select Single correct id:<br>
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                                <label>id 1                                  </label>  <input type="radio" name="optionLength" ng-model="questionsCtrl.correctOptions" ng-change="questionsCtrl.changeCorrectOptions()" ng-value="1" checked>
                                                <label ng-if="questionsCtrl.opLength>=2">id 2</label>  <input type="radio" name="optionLength" ng-model="questionsCtrl.correctOptions" ng-if="questionsCtrl.opLength>=2" ng-change="questionsCtrl.changeCorrectOptions()" ng-value="2">
                                                <label ng-if="questionsCtrl.opLength>=3">id 3</label>  <input type="radio" name="optionLength" ng-model="questionsCtrl.correctOptions" ng-if="questionsCtrl.opLength>=3" ng-change="questionsCtrl.changeCorrectOptions()" ng-value="3">
                                                <label ng-if="questionsCtrl.opLength>=4">id 4</label>  <input type="radio" name="optionLength" ng-model="questionsCtrl.correctOptions" ng-if="questionsCtrl.opLength>=4" ng-change="questionsCtrl.changeCorrectOptions()" ng-value="4">
                                                <label ng-if="questionsCtrl.opLength>=5">id 5</label>  <input type="radio" name="optionLength" ng-model="questionsCtrl.correctOptions" ng-if="questionsCtrl.opLength>=5" ng-change="questionsCtrl.changeCorrectOptions()" ng-value="5">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-if="questionsCtrl.choice.checked==false">
                                        <div class="row">
                                            <div class="col-md-4 col-xs-6 text-right">
                                                select multiple correct id: <br>
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                                <label>id 1                                  </label> <input type="checkbox"  ng-model="questionsCtrl.correct1"  ng-change="questionsCtrl.correctId(questionsCtrl.correct1,0)">
                                                <label ng-if="questionsCtrl.opLength>=2">id 2</label> <input type="checkbox"  ng-model="questionsCtrl.correct2" ng-if="questionsCtrl.opLength>=2" ng-change="questionsCtrl.correctId(questionsCtrl.correct2,1)">
                                                <label ng-if="questionsCtrl.opLength>=3">id 3</label> <input type="checkbox"  ng-model="questionsCtrl.correct3" ng-if="questionsCtrl.opLength>=3" ng-change="questionsCtrl.correctId(questionsCtrl.correct3,2)">
                                                <label ng-if="questionsCtrl.opLength>=4">id 4</label> <input type="checkbox"  ng-model="questionsCtrl.correct4" ng-if="questionsCtrl.opLength>=4" ng-change="questionsCtrl.correctId(questionsCtrl.correct4,3)">
                                                <label ng-if="questionsCtrl.opLength>=5">id 5</label> <input type="checkbox"  ng-model="questionsCtrl.correct5" ng-if="questionsCtrl.opLength>=5" ng-change="questionsCtrl.correctId(questionsCtrl.correct5,4)">
                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-4 col-xs-6 text-right">
                                                Explanation
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                        <textarea class="form-control" placeholder="explanation"
                                                  ng-required="true" ng-model="questionsCtrl.questions.explanation"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 col-xs-6 text-right">

                                        </div>
                                        <div class="col-md-6 col-xs-6">
                                            <button type="submit" class="btn btn-primary block full-width m-b"
                                                    ng-disabled="!((questionsCtrl.optionSize&&questionsCtrl.questions.correctOptions)||(questionsCtrl.optionSize&&questionsCtrl.questions.correct))">
                                                Add question
                                            </button>
                                            <!--<p ng-hide="!(questionsCtrl.questions.correct==null)">for disable button please select options length and correct id</p>-->
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                        <div class="col-md-6 col-xs-12 margin-top-50 scrollDiv update-category " ng-show="questionsCtrl.questionsArray.length">
                            <div class="row">
                                <div class="col-md-6 col-xs-12 font-15 text-center  position-fixed margin-top--20">
                                    <div class="col-xs-6 margin-top-10">
                                        <strong>Total Questions={{questionsCtrl.questionsArray.length}}</strong>
                                    </div>
                                    <div class="col-xs-6">
                                        <button type="submit" class="btn btn-primary block margin-top-10 margin-left-10  m-b"
                                                ng-click="questionsCtrl.confirmToSave()">
                                            Submit All
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 position-absolute">
                                    <div class="card-mod background-lightgray text-left padding-5" ng-repeat="question in questionsCtrl.questionsArray" >
                                        <div class="row">
                                            <div class="col-sm-6 col-xs-12 font-15 text-left">
                                                <div class="margin-left-30">
                                                    {{ question.question.appName}}
                                                </div>


                                            </div>
                                            <div class="col-sm-6 col-xs-12 text-right">
                                                <button type="submit" class="btn btn-danger btn-circle arrow m-b" ng-click="questionsCtrl.showPopup(question)">
                                                    <i class="fa fa-times"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-6">
                                                <p><strong>Q.{{$index+1}}</strong> {{question.question.question}}</p>
                                                <strong>Options :-</strong> <p class="margin-left-20" ng-repeat="op in question.question.options" ng-if="op.option">{{$index+1}}. {{op.option}}</p>
                                            </div>
                                        </div>
                                        <hr class="hr margin-0">
                                        <div class="row margin-top-5">
                                            <div class="col-xs-12 col-md-6">
                                                <strong>Correct :-</strong>
                                                <p ng-if="question.question.correctMultipleOptions.length"  class="margin-left-20">
                                                    <span ng-repeat="op in question.question.correctMultipleOptions" >{{op.id}}. {{op.option}}<br></span></p>

                                                <p ng-if="question.question.correctOptions.option" class="margin-left-20">{{question.question.correct}}. {{question.question.correctOptions.option}}</p>

                                                <p ng-if="question.question.categoryName.length"><strong> Category :-</strong><span ng-repeat="cat in question.question.categoryName">{{cat}},</span></p>

                                                <p ng-if="question.question.paperName"><strong>Paper id :-</strong>{{question.question.paperName}} </p>

                                                <p><strong>Explanation :-</strong>{{question.question.explanation}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
